@model List<ActionItemModel>

<div class="btn-group">
    <button class="@ViewBag.ButtonClass rounded-2"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>

    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>

                @if (!string.IsNullOrWhiteSpace(item.Url))
                {
                    <a href="@item.Url"
                       class="dropdown-item @item.CssClass">

                        @if (!string.IsNullOrEmpty(item.Icon))
                        {
                            <i class="bi @item.Icon me-2"></i>
                        }

                        @item.Title
                    </a>
                }
                else if (!string.IsNullOrWhiteSpace(item.AjaxUrl))
                {
                    <button type="button"
                            class="dropdown-item @item.CssClass ajax-postable"
                            data-ajax="@item.AjaxUrl"
                            data-success="@item.Handle"
                            data-confirm="@item.ConfirmMessage"
                            data-extra="@item.ExtraMessage"
                            onclick="@item.OnClick">

                        @if (!string.IsNullOrEmpty(item.Icon))
                        {
                            <i class="bi @item.Icon me-2"></i>
                        }

                        @item.Title
                    </button>
                }
                else
                {
                    <button type="button"
                            class="dropdown-item @item.CssClass"
                            onclick="@item.OnClick">

                        @if (!string.IsNullOrEmpty(item.Icon))
                        {
                            <i class="bi @item.Icon me-2"></i>
                        }

                        @item.Title
                    </button>
                }

            </li>
        }
    </ul>
</div>