@using BusinessObjects.Enums
@using Client.Models.Jobs
@model ListJobsModel

@{
    ViewBag.Title = "My Jobs";
    Layout = "_Layout";
}

<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2 class="fw-bold mb-1">
                My Jobs
            </h2>

            <p class="text-muted mb-0">
                Manage your posted jobs.
            </p>
        </div>

        <a asp-action="CreateJob"
           class="btn btn-primary">

            <i class="fa fa-plus me-2"></i>

            Post New Job

        </a>

    </div>
    <div class="d-flex justify-content-between">
        <div class="w-100">
            <form method="get" class="card p-3 mb-4 shadow-sm">
                <div class="row g-3">

                    <div class="col-md-3">
                        <input asp-for="Filter.Keyword"
                               class="form-control"
                               placeholder="Search Job title..." />
                    </div>

                    <div class="col-md-3">
                        <input asp-for="Filter.EmployerKeyword"
                               class="form-control"
                               placeholder="Search Employer..." />
                    </div>

                    <div class="col-md-2">
                        <select asp-for="Filter.Status"
                                class="form-select">
                            <option value="">All Status</option>

                            @foreach (JobStatus status in Enum.GetValues(typeof(JobStatus)))
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="Filter.SkillIds"
                                asp-items="ViewBag.Skills"
                                class="form-select js-select-skills" multiple="true">
                            <option value="">All Skills</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.MinBudget"
                               type="number"
                               class="form-control"
                               placeholder="Min Budget" />
                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.MaxBudget"
                               type="number"
                               class="form-control"
                               placeholder="Max Budget" />
                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.CreatedFrom"
                               type="date"
                               class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.CreatedTo"
                               type="date"
                               class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <div class="form-check">
                            <select asp-for="Filter.Temperature" class="form-select">
                                <option value="">All temperature</option>

                                @foreach (JobTemperature item in Enum.GetValues(typeof(JobTemperature)))
                                {
                                    <option value="@item">@(item) Jobs</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 d-grid">
                        <button class="btn btn-primary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    @if (!Model.Jobs.Items.Any())
    {
        <div class="card">

            <div class="card-body text-center py-5">

                <h5>
                    No jobs found
                </h5>

                <p class="text-muted">
                    Start by posting your first job.
                </p>

                <a asp-action="CreateJob"
                   class="btn btn-primary">

                    Post New Job

                </a>

            </div>

        </div>
    }
    else
    {
        <div class="card">

            <div>
                @await Html.PartialAsync("~/Views/Shared/Pagination/_Pagination.cshtml", Model.Jobs)

                <table class="table table-hover align-middle mb-0">

                    <thead>

                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Budget</th>
                            <th>Applications</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th width="120"></th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var job in Model.Jobs.Items)
                        {
                            <tr>

                                <td>
                                    <strong>@job.Title</strong>
                                </td>

                                <td>
                                    @job.CategoryName
                                </td>

                                <td>
                                    @job.Budget.ToString("N0")
                                </td>

                                <td>
                                    @job.ApplicationsCount
                                </td>

                                <td>
                                    @job.Deadline?.ToString("dd/MM/yyyy")
                                </td>

                                <td>

                                    @if (job.Status == JobStatus.ACTIVE)
                                    {
                                        <span class="badge bg-success">
                                            Active
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">
                                            @job.Status
                                        </span>
                                    }

                                </td>

                                <td>

                                    @{
                                        var is_open = job.Status == JobStatus.ACTIVE;
                                        var actions = new List<ActionItemModel> {
                                                        new() {
                                                        Title = "View details",
                                                        Icon = "bi-eye",
                                                        Url = Url.Action("JobDetails", new { id = job.Id })
                                                        },
                                                        new() {
                                                        Title = "Edit",
                                                        Icon = "bi-pencil",
                                                        Url = Url.Action("EditJob", new { id = job.Id })
                                                        },
                                                        new() {
                                                        Title = is_open ? "Close job" : "Open job",
                                                        Icon = is_open ? "bi-lock" : "bi-unlock",
                                                        AjaxUrl = Url.Action(is_open ? "CloseJob" : "OpenJob", "Jobs", new { id = job.Id }),
                                                        ConfirmMessage = (is_open ? "Close" : "Open") + " this job?",
                                                        ExtraMessage = "Frelancer "+ (is_open ? "can" : "can't") + " see this jobs!",
                                                        Handle = "location.reload();"
                                                        },
                                                        new() {
                                                        Title = "Delete",
                                                        Icon = "bi-trash",
                                                        CssClass = "text-danger",
                                                        OnClick = $"deleteItem({job.Id})"
                                                        }
                                                        };
                                    }

                                    @await Component.InvokeAsync("ActionDropdown", new { actions = actions })

                                </td>

                            </tr>
                        }

                    </tbody>

                </table>

            </div>

        </div>
    }

</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $(".js-select-skills").select2({
                placeholder: 'Select skills',
                multiple: true,
                theme: "classic"
            });
        });
    </script>
}